# renv directory
renv/

# Data directory
data/

# RStudio files
.Rproj.user/env/

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment variables
.Renviron

# History files
.Rhistory
.Rapp.history

.Rprofile

Containerfile
